# About Dataset
State Bank of Pakistan's Easy Data portal was launched in June 2022 and currently hosts economic and financial time series data on more than 7,000 variables neatly grouped into around 100 datasets.

[SBP EasyData](https://easydata.sbp.org.pk/apex/f?p=10:1:0:)

The Country-wise Workers' Remittances dataset contains details of countries, and monthly amount of USD in millions received by Pakistan as workers' remittances. 

[Remittance Dataset](https://easydata.sbp.org.pk/apex/fp=10:211:::NO:RP:P211_DATASET_TYPE_CODE,P211_PAGE_ID:TS_GP_BOP_WR_M,250&cs=157866335180CD2B7910AF42D3E4C3C43)

## Loading Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://easydata.sbp.org.pk/apex/f?p=10:214:::NO:214:P214_DATASET_TYPE_CODE:TS_GP_BOP_WR_M&cs=1F2A5F508148F7E4E2846E9630B42B2B9', usecols=['Observation Date', 'Series Display Name', 
                                         'Observation Value', 'Sequence No.'] )
df.head()

  Observation Date   Series Display Name  Observation Value  Sequence No.
0      31-Dec-2022          I. Cash Flow        2041.479118            10
1      31-Dec-2022           ......1 USA         230.513533            20
2      31-Dec-2022          ......2 U.K.         314.223228            30
3      31-Dec-2022  ......3 Saudi Arabia         516.324979            40
4      31-Dec-2022        ......4 U.A.E.         328.705629            50

## Data Cleansing

### Converting Column names to snake case

In [3]:
df.columns = [x.lower() for x in df.columns]
df.columns = df.columns.str.replace("[ ]", "_", regex=True).str.replace(".", "", regex=True)
df.head()

  observation_date   series_display_name  observation_value  sequence_no
0      31-Dec-2022          I. Cash Flow        2041.479118           10
1      31-Dec-2022           ......1 USA         230.513533           20
2      31-Dec-2022          ......2 U.K.         314.223228           30
3      31-Dec-2022  ......3 Saudi Arabia         516.324979           40
4      31-Dec-2022        ......4 U.A.E.         328.705629           50

### Getting Country names from 'series_display_name'

In [4]:
df.sequence_no.unique()

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 311, 312, 320, 340, 330], dtype=int64)

In [5]:
df.series_display_name.unique()

array(['I. Cash Flow', '......1 USA', '......2 U.K.',
       '......3 Saudi Arabia', '......4 U.A.E.', '............. Dubai',
       '............. Abu Dhabi', '............. Sharjah',
       '............. Others', '......5 Other GCC Countries',
       '............. Bahrain', '............. Kuwait',
       '............. Qatar', '............. Oman',
       '......6 EU Countries', '............. Germany',
       '............. France', '............. Netherland',
       '............. Spain', '............. Italy',
       '............. Greece', '............. Sweden',
       '............. Denmark', '............. Ireland',
       '............. Belgium', '......7 Malaysia', '......8 Norway',
       '......9 Switzerland', '......10 Australia', '......11 Canada',
       '......12 Japan', '......13 South Africa', '......14 South Korea',
       '......15 Other Countries', '. Total (I+II)',
       'II. Encashment and Profit in Pak. Rs. of Foreign Exchange Bearer Certificates (FEBCs) & Foreign Currency Bearer Certificates (FCBCs)'],
      dtype=object)

In [6]:
countries = df.drop_duplicates(subset='sequence_no')
countries.drop(['observation_date', 'observation_value'], axis=1, inplace=True)
countries

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_472\30208864.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries.drop(['observation_date', 'observation_value'], axis=1, inplace=True)

                                   series_display_name  sequence_no
0                                         I. Cash Flow           10
1                                          ......1 USA           20
2                                         ......2 U.K.           30
3                                 ......3 Saudi Arabia           40
4                                       ......4 U.A.E.           50
5                                  ............. Dubai           60
6                              ............. Abu Dhabi           70
7                                ............. Sharjah           80
8                                 ............. Others           90
9                          ......5 Other GCC Countries          100
10                               ............. Bahrain          110
11                                ............. Kuwait          120
12                                 ............. Qatar          130
13                                  ............. Oman          140
14                                ......6 EU Countries          150
15                               ............. Germany          160
16                                ............. France          170
17                            ............. Netherland          180
18                                 ............. Spain          190
19                                 ............. Italy          200
20                                ............. Greece          210
21                                ............. Sweden          220
22                               ............. Denmark          230
23                               ............. Ireland          240
24                               ............. Belgium          250
25                                    ......7 Malaysia          260
26                                      ......8 Norway          270
27                                 ......9 Switzerland          280
28                                  ......10 Australia          290
29                                     ......11 Canada          300
30                                      ......12 Japan          310
31                               ......13 South Africa          311
32                                ......14 South Korea          312
33                            ......15 Other Countries          320
34                                      . Total (I+II)          340
244  II. Encashment and Profit in Pak. Rs. of Forei...          330

In [7]:
countries.series_display_name = countries.series_display_name.str.replace('.','')
countries

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_472\1107023266.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  countries.series_display_name = countries.series_display_name.str.replace('.','')
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_472\1107023266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries.series_display_name = countries.series_display_name.str.replace('.','')

                                   series_display_name  sequence_no
0                                          I Cash Flow           10
1                                                1 USA           20
2                                                 2 UK           30
3                                       3 Saudi Arabia           40
4                                                4 UAE           50
5                                                Dubai           60
6                                            Abu Dhabi           70
7                                              Sharjah           80
8                                               Others           90
9                                5 Other GCC Countries          100
10                                             Bahrain          110
11                                              Kuwait          120
12                                               Qatar          130
13                                                Oman          140
14                                      6 EU Countries          150
15                                             Germany          160
16                                              France          170
17                                          Netherland          180
18                                               Spain          190
19                                               Italy          200
20                                              Greece          210
21                                              Sweden          220
22                                             Denmark          230
23                                             Ireland          240
24                                             Belgium          250
25                                          7 Malaysia          260
26                                            8 Norway          270
27                                       9 Switzerland          280
28                                        10 Australia          290
29                                           11 Canada          300
30                                            12 Japan          310
31                                     13 South Africa          311
32                                      14 South Korea          312
33                                  15 Other Countries          320
34                                        Total (I+II)          340
244  II Encashment and Profit in Pak Rs of Foreign ...          330

In [8]:
x = (10, 60, 70, 80, 90, 100, 150, 320, 340, 330)

In [9]:
for i in x:
    countries = countries.drop(countries.loc[countries['sequence_no']==i].index)

countries

   series_display_name  sequence_no
1                1 USA           20
2                 2 UK           30
3       3 Saudi Arabia           40
4                4 UAE           50
10             Bahrain          110
11              Kuwait          120
12               Qatar          130
13                Oman          140
15             Germany          160
16              France          170
17          Netherland          180
18               Spain          190
19               Italy          200
20              Greece          210
21              Sweden          220
22             Denmark          230
23             Ireland          240
24             Belgium          250
25          7 Malaysia          260
26            8 Norway          270
27       9 Switzerland          280
28        10 Australia          290
29           11 Canada          300
30            12 Japan          310
31     13 South Africa          311
32      14 South Korea          312

In [10]:
countries.series_display_name = countries.series_display_name.str.replace('[1234567890]','')
countries

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_472\4035619723.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  countries.series_display_name = countries.series_display_name.str.replace('[1234567890]','')

   series_display_name  sequence_no
1                  USA           20
2                   UK           30
3         Saudi Arabia           40
4                  UAE           50
10             Bahrain          110
11              Kuwait          120
12               Qatar          130
13                Oman          140
15             Germany          160
16              France          170
17          Netherland          180
18               Spain          190
19               Italy          200
20              Greece          210
21              Sweden          220
22             Denmark          230
23             Ireland          240
24             Belgium          250
25            Malaysia          260
26              Norway          270
27         Switzerland          280
28           Australia          290
29              Canada          300
30               Japan          310
31        South Africa          311
32         South Korea          312

In [11]:
countries.rename(columns = {'series_display_name': 'country'}, inplace=True)

### Creating a DataFrame for mapping county names in the main DataFrame i.e. "df"

In [12]:
mapping = pd.DataFrame()
mapping['Country'] = countries.country
mapping['sequence_no'] = countries.sequence_no
mapping

          Country  sequence_no
1             USA           20
2              UK           30
3    Saudi Arabia           40
4             UAE           50
10        Bahrain          110
11         Kuwait          120
12          Qatar          130
13           Oman          140
15        Germany          160
16         France          170
17     Netherland          180
18          Spain          190
19          Italy          200
20         Greece          210
21         Sweden          220
22        Denmark          230
23        Ireland          240
24        Belgium          250
25       Malaysia          260
26         Norway          270
27    Switzerland          280
28      Australia          290
29         Canada          300
30          Japan          310
31   South Africa          311
32    South Korea          312

In [13]:
dic = dict(mapping[['Country', 'sequence_no']].values)

In [14]:
df.head()

  observation_date   series_display_name  observation_value  sequence_no
0      31-Dec-2022          I. Cash Flow        2041.479118           10
1      31-Dec-2022           ......1 USA         230.513533           20
2      31-Dec-2022          ......2 U.K.         314.223228           30
3      31-Dec-2022  ......3 Saudi Arabia         516.324979           40
4      31-Dec-2022        ......4 U.A.E.         328.705629           50

In [15]:
final = (df.merge(mapping, left_on='sequence_no', right_on='sequence_no')
          .reindex(columns=['observation_date', 'Country', 'observation_value', 'sequence_no']))
final.head()

  observation_date Country  observation_value  sequence_no
0      31-Dec-2022     USA         230.513533           20
1      30-Nov-2022     USA         229.412700           20
2      31-Oct-2022     USA         253.131459           20
3      30-Sep-2022     USA         267.773431           20
4      31-Aug-2022     USA         297.029179           20

### Replaced "series_display_name" with "Country"

In [16]:
final

      observation_date       Country  observation_value  sequence_no
0          31-Dec-2022           USA         230.513533           20
1          30-Nov-2022           USA         229.412700           20
2          31-Oct-2022           USA         253.131459           20
3          30-Sep-2022           USA         267.773431           20
4          31-Aug-2022           USA         297.029179           20
...                ...           ...                ...          ...
14647      30-Nov-2018   South Korea           0.492673          312
14648      31-Oct-2018   South Korea           0.548446          312
14649      30-Sep-2018   South Korea           0.598943          312
14650      31-Aug-2018   South Korea           0.975445          312
14651      31-Jul-2018   South Korea           0.683072          312

[14652 rows x 4 columns]

In [17]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14652 entries, 0 to 14651
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   observation_date   14652 non-null  object
 1   Country            14652 non-null  object
 2   observation_value  14100 non-null  float64
 3   sequence_no        14652 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 572.3+ KB

### Converting "observtaion_date" to `datatime` format

In [18]:
final.observation_date = pd.to_datetime(final.observation_date)
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14652 entries, 0 to 14651
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   observation_date   14652 non-null  datetime64[ns]
 1   Country            14652 non-null  object
 2   observation_value  14100 non-null  float64
 3   sequence_no        14652 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 572.3+ KB

### Extracting Year from "observation_date"

In [19]:
final['year'] = final.observation_date.dt.year

In [20]:
final.head()

  observation_date Country  observation_value  sequence_no  year
0       2022-12-31     USA         230.513533           20  2022
1       2022-11-30     USA         229.412700           20  2022
2       2022-10-31     USA         253.131459           20  2022
3       2022-09-30     USA         267.773431           20  2022
4       2022-08-31     USA         297.029179           20  2022

## Dropping unwanted columns

In [21]:
final.drop(columns='sequence_no', inplace=True)
final.head()

  observation_date Country  observation_value  year
0       2022-12-31     USA         230.513533  2022
1       2022-11-30     USA         229.412700  2022
2       2022-10-31     USA         253.131459  2022
3       2022-09-30     USA         267.773431  2022
4       2022-08-31     USA         297.029179  2022

In [22]:
final.drop(columns='observation_date', inplace=True)
final.head()

  Country  observation_value  year
0     USA         230.513533  2022
1     USA         229.412700  2022
2     USA         253.131459  2022
3     USA         267.773431  2022
4     USA         297.029179  2022

In [23]:
final.Country = final.Country.str[1:]

In [24]:
final.Country = final.Country.str.replace(' ', '_')
final.Country

0                USA
1                USA
2                USA
3                USA
4                USA
            ...
14647    South_Korea
14648    South_Korea
14649    South_Korea
14650    South_Korea
14651    South_Korea
Name: Country, Length: 14652, dtype: object

### Getting unique list of countries

In [25]:
cnt = list(final.Country.unique())
print(cnt)

['USA', 'UK', 'Saudi_Arabia', 'UAE', 'Bahrain', 'Kuwait', 'Qatar', 'Oman', 'Germany', 'France', 'Netherland', 'Spain', 'Italy', 'Greece', 'Sweden', 'Denmark', 'Ireland', 'Belgium', 'Malaysia', 'Norway', 'Switzerland', 'Australia', 'Canada', 'Japan', 'South_Africa', 'South_Korea']

In [26]:
final

           Country  observation_value  year
0              USA         230.513533  2022
1              USA         229.412700  2022
2              USA         253.131459  2022
3              USA         267.773431  2022
4              USA         297.029179  2022
...            ...                ...   ...
14647  South_Korea           0.492673  2018
14648  South_Korea           0.548446  2018
14649  South_Korea           0.598943  2018
14650  South_Korea           0.975445  2018
14651  South_Korea           0.683072  2018

[14652 rows x 3 columns]

### Creating DataFrame for each country

In [27]:
for i in cnt:
    globals()[i] = final[final['Country']==i]
    globals()[i] = globals()[i].groupby('year')['observation_value'].sum().reset_index(name =i)

### Merging DataFrame of all Countries

In [28]:
mer = [Saudi_Arabia, UAE, Bahrain, Kuwait, Qatar, Oman, Germany, France, 
        Netherland, Spain, Italy, Greece, Sweden,
        Denmark, Ireland, Belgium, Malaysia, Norway, 
        Switzerland, Australia, Canada, Japan, South_Africa, South_Korea]

In [29]:
dff = pd.merge(USA, UK, how='left')
for i in mer:
    dff = pd.merge(dff, i, how='left')

In [30]:
dff

,year,USA,UK,Saudi_Arabia,UAE,Bahrain,Kuwait,Qatar,Oman,Germany,...,Ireland,Belgium,Malaysia,Norway,Switzerland,Australia,Canada,Japan,South_Africa,South_Korea
0,1972,4.500000,36.800000,3.900000,0.000000,1.400000,3.100000,1.200000,6.200000,0.600000,...,0.000000,0.000000,0.000000,0.300000,0.000000,0.000000,0.800000,0.000000,NaN,NaN
1,1973,13.000000,61.500000,9.200000,0.000000,2.600000,7.700000,2.100000,12.400000,2.000000,...,0.000000,0.000000,0.000000,1.200000,0.000000,0.000000,2.700000,0.000000,NaN,NaN
2,1974,15.500000,60.900000,12.900000,8.000000,3.900000,7.800000,3.900000,16.000000,2.900000,...,0.000000,0.000000,0.000000,2.100000,0.000000,0.000000,3.800000,0.000000,NaN,NaN
3,1975,23.100000,71.300000,23.900000,40.800000,9.000000,12.900000,8.500000,27.300000,4.700000,...,0.000000,0.000000,0.000000,3.900000,0.000000,0.000000,5.000000,0.000000,NaN,NaN
4,1976,27.900000,49.200000,79.500000,77.400000,17.900000,21.400000,14.600000,54.100000,6.700000,...,0.000000,0.000000,0.000000,5.700000,0.000000,0.000000,6.000000,0.000000,NaN,NaN
5,1977,31.600000,57.400000,309.300000,176.700000,36.500000,39.700000,40.100000,62.800000,11.700000,...,0.000000,0.000000,0.000000,7.600000,0.000000,0.000000,8.100000,0.000000,NaN,NaN
6,1978,60.400000,101.000000,526.800000,212.300000,40.800000,67.900000,54.900000,63.500000,26.500000,...,0.000000,0.000000,0.000000,11.100000,0.000000,0.000000,6.700000,0.000000,NaN,NaN
7,1979,58.000000,127.500000,677.000000,188.100000,32.700000,81.000000,50.600000,63.400000,48.600000,...,0.000000,0.000000,0.000000,11.200000,0.000000,0.000000,7.200000,0.000000,NaN,NaN
8,1980,64.500000,192.100000,903.000000,278.600000,42.200000,136.100000,70.500000,87.700000,67.700000,...,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,8.000000,0.000000,NaN,NaN
9,1981,69.900000,129.800000,1053.100000,213.300000,40.300000,134.900000,58.800000,98.000000,48.700000,...,0.000000,0.000000,0.000000,14.800000,0.000000,0.000000,7.600000,0.000000,NaN,NaN
10,1982,99.300000,151.300000,1288.000000,280.500000,43.600000,181.400000,78.300000,129.300000,50.200000,...,0.000000,0.000000,0.000000,14.900000,0.000000,0.000000,7.300000,0.000000,NaN,NaN
11,1983,127.700000,151.900000,1503.900000,347.800000,49.600000,228.100000,87.000000,166.200000,44.300000,...,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000,7.300000,0.000000,NaN,NaN
12,1984,104.700000,131.900000,1329.300000,302.500000,52.900000,229.200000,57.700000,163.300000,35.200000,...,0.000000,0.000000,0.000000,14.300000,0.000000,0.000000,7.600000,0.000000,NaN,NaN
13,1985,142.800000,187.300000,1200.900000,311.000000,59.000000,207.900000,63.500000,180.500000,36.000000,...,0.000000,0.000000,0.000000,16.500000,0.000000,0.000000,7.000000,0.000000,NaN,NaN
14,1986,199.500000,193.300000,1053.300000,299.200000,55.100000,219.000000,60.700000,162.100000,34.100000,...,0.000000,0.000000,0.000000,22.100000,0.000000,0.000000,7.800000,0.000000,NaN,NaN
15,1987,188.200000,229.500000,890.600000,243.400000,46.100000,207.600000,42.100000,115.500000,36.600000,...,0.000000,0.000000,0.000000,29.300000,0.000000,0.000000,9.400000,0.000000,NaN,NaN
16,1988,157.100000,193.700000,710.300000,182.400000,37.300000,162.400000,30.200000,87.700000,32.300000,...,0.000000,0.000000,0.000000,25.200000,0.000000,0.000000,10.200000,0.000000,NaN,NaN
17,1989,211.400000,168.700000,703.100000,156.500000,38.400000,141.000000,28.200000,80.800000,30.000000,...,0.000000,0.000000,0.000000,20.800000,0.000000,0.000000,13.300000,0.000000,NaN,NaN
18,1990,208.600000,189.500000,683.700000,167.600000,40.600000,80.700000,26.200000,79.200000,32.100000,...,0.000000,0.000000,0.000000,21.000000,0.000000,0.000000,12.700000,0.000000,NaN,NaN
19,1991,161.200000,152.700000,555.300000,125.900000,27.400000,15.200000,16.200000,64.900000,30.900000,...,0.000000,0.000000,0.000000,18.300000,0.000000,0.000000,10.600000,7.000000,NaN,NaN
20,1992,153.500000,131.900000,529.100000,103.100000,27.300000,64.700000,11.100000,59.000000,39.900000,...,0.000000,0.000000,0.000000,16.500000,0.000000,0.000000,8.900000,13.600000,NaN,NaN
21,1993,140.600000,104.500000,490.400000,91.000000,23.300000,44.700000,9.100000,45.300000,34.500000,...,0.000000,0.000000,0.000000,13.300000,0.000000,0.000000,6.500000,7.400000,NaN,NaN
22,1994,133.400000,105.900000,557.700000,148.600000,32.700000,60.300000,10.300000,54.000000,25.700000,...,0.000000,0.000000,0.000000,10.900000,0.000000,0.000000,5.100000,7.400000,NaN,NaN
23,1995,143.100000,115.800000,542.300000,174.800000,35.400000,51.900000,12.300000,65.000000,29.000000,...,0.000000,0.000000,0.000000,13.500000,0.000000,0.000000,5.000000,5.300000,NaN,NaN
24,1996,122.200000,95.600000,431.600000,153.000000,29.100000,35.500000,11.800000,51.300000,21.500000,...,0.000000,0.600000,0.000000,10.500000,3.500000,2.900000,4.800000,3.400000,NaN,NaN
25,1997,184.500000,104.000000,477.100000,222.800000,32.700000,50.500000,12.000000,56.200000,17.600000,...,0.000000,0.800000,0.000000,7.900000,5.800000,5.500000,4.100000,3.400000,NaN,NaN
26,1998,119.100000,83.900000,384.700000,143.400000,34.400000,55.100000,12.300000,52.700000,14.300000,...,0.200000,0.700000,0.000000,5.900000,4.800000,3.600000,3.900000,3.500000,NaN,NaN
27,1999,72.700000,73.400000,311.800000,139.700000,31.400000,139.200000,13.600000,48.100000,11.600000,...,0.000000,1.000000,0.000000,5.600000,3.500000,3.700000,3.900000,1.300000,NaN,NaN
28,2000,104.700000,76.600000,309.200000,185.200000,27.000000,153.200000,13.500000,41.100000,9.200000,...,0.200000,1.200000,0.000000,6.000000,4.400000,4.400000,3.800000,2.400000,NaN,NaN
29,2001,346.200000,101.200000,306.600000,286.200000,25.600000,76.200000,19.400000,46.000000,10.000000,...,0.000000,0.200000,0.000000,5.600000,7.600000,3.800000,12.300000,4.600000,NaN,NaN
30,2002,1162.400000,220.800000,489.800000,719.900000,58.900000,162.300000,59.400000,80.100000,20.800000,...,0.200000,3.000000,0.000000,7.700000,26.500000,6.900000,18.500000,8.100000,NaN,NaN
31,2003,1155.600000,303.100000,592.200000,655.200000,74.800000,196.800000,88.900000,98.300000,41.000000,...,0.600000,4.100000,0.000000,9.800000,32.800000,10.500000,18.000000,6.300000,NaN,NaN
32,2004,1237.800000,354.000000,571.000000,623.900000,89.400000,197.800000,85.700000,116.400000,46.100000,...,2.200000,4.900000,0.000000,16.400000,27.500000,17.300000,32.600000,6.500000,NaN,NaN
33,2005,1292.200000,394.400000,662.200000,698.900000,95.000000,223.300000,100.100000,122.400000,55.100000,...,5.500000,5.800000,0.000000,15.500000,16.100000,21.300000,68.100000,6.700000,NaN,NaN
34,2006,1315.800000,455.900000,898.600000,811.700000,114.000000,273.000000,144.600000,146.900000,70.800000,...,6.400000,6.500000,0.000000,18.100000,24.300000,28.300000,84.700000,5.600000,NaN,NaN
35,2007,1674.700000,438.700000,1103.500000,969.700000,142.400000,329.700000,200.700000,183.500000,78.800000,...,6.100000,7.800000,0.000000,25.700000,19.800000,33.300000,95.600000,3.700000,NaN,NaN
36,2008,1791.500000,471.700000,1403.400000,1289.400000,147.900000,427.100000,283.600000,264.400000,79.200000,...,24.500000,5.200000,0.000000,28.000000,20.800000,38.100000,90.200000,5.400000,NaN,NaN
37,2009,1770.700000,848.600000,1690.800000,2011.000000,157.100000,437.600000,375.400000,278.500000,102.600000,...,24.700000,6.600000,0.000000,32.600000,20.300000,46.700000,92.700000,6.600000,NaN,NaN
38,2010,1830.600000,970.900000,2215.700000,2272.400000,149.000000,456.300000,313.400000,303.500000,85.800000,...,24.000000,3.300000,0.000000,33.400000,27.200000,73.300000,164.100000,4.300000,NaN,NaN
39,2011,2221.300000,1349.000000,3188.200000,2755.100000,180.900000,544.100000,309.100000,367.400000,99.700000,...,66.700000,3.300000,0.000000,38.600000,33.200000,97.000000,171.900000,12.100000,NaN,NaN
40,2012,2339.800000,1799.800000,3985.800000,2896.800000,262.600000,611.100000,321.900000,389.600000,90.000000,...,86.700000,3.100000,0.000000,38.900000,32.100000,146.000000,185.700000,5.800000,NaN,NaN
41,2013,2280.000000,2080.700000,4348.000000,2861.800000,292.300000,639.200000,329.100000,434.200000,78.000000,...,108.900000,3.400000,0.000000,33.200000,30.100000,145.700000,168.200000,4.600000,NaN,NaN
42,2014,2628.000000,2252.800000,5175.600000,3523.900000,344.200000,724.100000,327.100000,617.400000,85.500000,...,141.600000,5.200000,0.000000,30.500000,29.300000,170.500000,172.200000,8.400000,NaN,NaN
43,2015,2598.100000,2415.200000,5876.200000,4417.500000,448.100000,734.800000,365.600000,746.300000,75.800000,...,139.900000,6.000000,0.000000,26.300000,25.300000,176.200000,149.100000,9.400000,NaN,NaN
44,2016,2392.200000,2426.100000,5807.800000,4329.600000,410.400000,796.100000,385.800000,814.900000,98.900000,...,147.000000,8.400000,0.000000,41.600000,26.500000,199.800000,185.500000,14.900000,NaN,NaN
45,2017,2619.900000,2646.800000,5265.700000,4356.000000,402.000000,772.700000,409.400000,714.500000,108.400000,...,153.500000,12.400000,0.000000,43.500000,28.600000,224.700000,198.700000,15.900000,NaN,NaN
46,2018,3189.150000,3136.720000,4895.510000,4543.040000,314.790000,757.630000,375.340000,637.820000,133.600000,...,114.040000,19.460000,787.340000,46.220000,29.790000,240.770000,215.690000,23.320000,57.526368,3.717659
47,2019,2435.540000,3002.730000,5609.810000,5045.470000,384.500000,762.510000,577.890000,854.950000,256.240000,...,53.810000,39.770000,895.450000,56.180000,30.380000,274.170000,249.650000,45.450000,187.694081,18.952076
48,2020,2107.349591,3207.831277,7393.511716,5788.761416,442.363754,743.804304,804.786378,1020.763273,390.706299,...,119.565950,166.494595,202.736901,87.137142,35.606840,473.393045,418.490037,80.662484,276.642075,72.905138
49,2021,2911.950996,4361.638578,7806.033729,6219.576602,508.383223,916.562657,975.753652,1119.430819,495.305937,...,160.367671,278.723152,170.136464,129.756566,47.630492,698.921760,688.627920,79.315426,353.934824,94.214370
50,2022,3119.813782,4323.105202,7190.516860,5439.696536,492.439559,873.881031,1007.137682,1077.534836,483.860485,...,141.033906,202.771632,134.786092,131.944428,41.649880,675.688037,657.311798,77.365458,308.467322,94.575865

### Filling `nan` values

In [31]:
dff = dff.fillna(0)
dff

,year,USA,UK,Saudi_Arabia,UAE,Bahrain,Kuwait,Qatar,Oman,Germany,...,Ireland,Belgium,Malaysia,Norway,Switzerland,Australia,Canada,Japan,South_Africa,South_Korea
0,1972,4.500000,36.800000,3.900000,0.000000,1.400000,3.100000,1.200000,6.200000,0.600000,...,0.000000,0.000000,0.000000,0.300000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000
1,1973,13.000000,61.500000,9.200000,0.000000,2.600000,7.700000,2.100000,12.400000,2.000000,...,0.000000,0.000000,0.000000,1.200000,0.000000,0.000000,2.700000,0.000000,0.000000,0.000000
2,1974,15.500000,60.900000,12.900000,8.000000,3.900000,7.800000,3.900000,16.000000,2.900000,...,0.000000,0.000000,0.000000,2.100000,0.000000,0.000000,3.800000,0.000000,0.000000,0.000000
3,1975,23.100000,71.300000,23.900000,40.800000,9.000000,12.900000,8.500000,27.300000,4.700000,...,0.000000,0.000000,0.000000,3.900000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000
4,1976,27.900000,49.200000,79.500000,77.400000,17.900000,21.400000,14.600000,54.100000,6.700000,...,0.000000,0.000000,0.000000,5.700000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000
5,1977,31.600000,57.400000,309.300000,176.700000,36.500000,39.700000,40.100000,62.800000,11.700000,...,0.000000,0.000000,0.000000,7.600000,0.000000,0.000000,8.100000,0.000000,0.000000,0.000000
6,1978,60.400000,101.000000,526.800000,212.300000,40.800000,67.900000,54.900000,63.500000,26.500000,...,0.000000,0.000000,0.000000,11.100000,0.000000,0.000000,6.700000,0.000000,0.000000,0.000000
7,1979,58.000000,127.500000,677.000000,188.100000,32.700000,81.000000,50.600000,63.400000,48.600000,...,0.000000,0.000000,0.000000,11.200000,0.000000,0.000000,7.200000,0.000000,0.000000,0.000000
8,1980,64.500000,192.100000,903.000000,278.600000,42.200000,136.100000,70.500000,87.700000,67.700000,...,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000
9,1981,69.900000,129.800000,1053.100000,213.300000,40.300000,134.900000,58.800000,98.000000,48.700000,...,0.000000,0.000000,0.000000,14.800000,0.000000,0.000000,7.600000,0.000000,0.000000,0.000000
10,1982,99.300000,151.300000,1288.000000,280.500000,43.600000,181.400000,78.300000,129.300000,50.200000,...,0.000000,0.000000,0.000000,14.900000,0.000000,0.000000,7.300000,0.000000,0.000000,0.000000
11,1983,127.700000,151.900000,1503.900000,347.800000,49.600000,228.100000,87.000000,166.200000,44.300000,...,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000,7.300000,0.000000,0.000000,0.000000
12,1984,104.700000,131.900000,1329.300000,302.500000,52.900000,229.200000,57.700000,163.300000,35.200000,...,0.000000,0.000000,0.000000,14.300000,0.000000,0.000000,7.600000,0.000000,0.000000,0.000000
13,1985,142.800000,187.300000,1200.900000,311.000000,59.000000,207.900000,63.500000,180.500000,36.000000,...,0.000000,0.000000,0.000000,16.500000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000
14,1986,199.500000,193.300000,1053.300000,299.200000,55.100000,219.000000,60.700000,162.100000,34.100000,...,0.000000,0.000000,0.000000,22.100000,0.000000,0.000000,7.800000,0.000000,0.000000,0.000000
15,1987,188.200000,229.500000,890.600000,243.400000,46.100000,207.600000,42.100000,115.500000,36.600000,...,0.000000,0.000000,0.000000,29.300000,0.000000,0.000000,9.400000,0.000000,0.000000,0.000000
16,1988,157.100000,193.700000,710.300000,182.400000,37.300000,162.400000,30.200000,87.700000,32.300000,...,0.000000,0.000000,0.000000,25.200000,0.000000,0.000000,10.200000,0.000000,0.000000,0.000000
17,1989,211.400000,168.700000,703.100000,156.500000,38.400000,141.000000,28.200000,80.800000,30.000000,...,0.000000,0.000000,0.000000,20.800000,0.000000,0.000000,13.300000,0.000000,0.000000,0.000000
18,1990,208.600000,189.500000,683.700000,167.600000,40.600000,80.700000,26.200000,79.200000,32.100000,...,0.000000,0.000000,0.000000,21.000000,0.000000,0.000000,12.700000,0.000000,0.000000,0.000000
19,1991,161.200000,152.700000,555.300000,125.900000,27.400000,15.200000,16.200000,64.900000,30.900000,...,0.000000,0.000000,0.000000,18.300000,0.000000,0.000000,10.600000,7.000000,0.000000,0.000000
20,1992,153.500000,131.900000,529.100000,103.100000,27.300000,64.700000,11.100000,59.000000,39.900000,...,0.000000,0.000000,0.000000,16.500000,0.000000,0.000000,8.900000,13.600000,0.000000,0.000000
21,1993,140.600000,104.500000,490.400000,91.000000,23.300000,44.700000,9.100000,45.300000,34.500000,...,0.000000,0.000000,0.000000,13.300000,0.000000,0.000000,6.500000,7.400000,0.000000,0.000000
22,1994,133.400000,105.900000,557.700000,148.600000,32.700000,60.300000,10.300000,54.000000,25.700000,...,0.000000,0.000000,0.000000,10.900000,0.000000,0.000000,5.100000,7.400000,0.000000,0.000000
23,1995,143.100000,115.800000,542.300000,174.800000,35.400000,51.900000,12.300000,65.000000,29.000000,...,0.000000,0.000000,0.000000,13.500000,0.000000,0.000000,5.000000,5.300000,0.000000,0.000000
24,1996,122.200000,95.600000,431.600000,153.000000,29.100000,35.500000,11.800000,51.300000,21.500000,...,0.000000,0.600000,0.000000,10.500000,3.500000,2.900000,4.800000,3.400000,0.000000,0.000000
25,1997,184.500000,104.000000,477.100000,222.800000,32.700000,50.500000,12.000000,56.200000,17.600000,...,0.000000,0.800000,0.000000,7.900000,5.800000,5.500000,4.100000,3.400000,0.000000,0.000000
26,1998,119.100000,83.900000,384.700000,143.400000,34.400000,55.100000,12.300000,52.700000,14.300000,...,0.200000,0.700000,0.000000,5.900000,4.800000,3.600000,3.900000,3.500000,0.000000,0.000000
27,1999,72.700000,73.400000,311.800000,139.700000,31.400000,139.200000,13.600000,48.100000,11.600000,...,0.000000,1.000000,0.000000,5.600000,3.500000,3.700000,3.900000,1.300000,0.000000,0.000000
28,2000,104.700000,76.600000,309.200000,185.200000,27.000000,153.200000,13.500000,41.100000,9.200000,...,0.200000,1.200000,0.000000,6.000000,4.400000,4.400000,3.800000,2.400000,0.000000,0.000000
29,2001,346.200000,101.200000,306.600000,286.200000,25.600000,76.200000,19.400000,46.000000,10.000000,...,0.000000,0.200000,0.000000,5.600000,7.600000,3.800000,12.300000,4.600000,0.000000,0.000000
30,2002,1162.400000,220.800000,489.800000,719.900000,58.900000,162.300000,59.400000,80.100000,20.800000,...,0.200000,3.000000,0.000000,7.700000,26.500000,6.900000,18.500000,8.100000,0.000000,0.000000
31,2003,1155.600000,303.100000,592.200000,655.200000,74.800000,196.800000,88.900000,98.300000,41.000000,...,0.600000,4.100000,0.000000,9.800000,32.800000,10.500000,18.000000,6.300000,0.000000,0.000000
32,2004,1237.800000,354.000000,571.000000,623.900000,89.400000,197.800000,85.700000,116.400000,46.100000,...,2.200000,4.900000,0.000000,16.400000,27.500000,17.300000,32.600000,6.500000,0.000000,0.000000
33,2005,1292.200000,394.400000,662.200000,698.900000,95.000000,223.300000,100.100000,122.400000,55.100000,...,5.500000,5.800000,0.000000,15.500000,16.100000,21.300000,68.100000,6.700000,0.000000,0.000000
34,2006,1315.800000,455.900000,898.600000,811.700000,114.000000,273.000000,144.600000,146.900000,70.800000,...,6.400000,6.500000,0.000000,18.100000,24.300000,28.300000,84.700000,5.600000,0.000000,0.000000
35,2007,1674.700000,438.700000,1103.500000,969.700000,142.400000,329.700000,200.700000,183.500000,78.800000,...,6.100000,7.800000,0.000000,25.700000,19.800000,33.300000,95.600000,3.700000,0.000000,0.000000
36,2008,1791.500000,471.700000,1403.400000,1289.400000,147.900000,427.100000,283.600000,264.400000,79.200000,...,24.500000,5.200000,0.000000,28.000000,20.800000,38.100000,90.200000,5.400000,0.000000,0.000000
37,2009,1770.700000,848.600000,1690.800000,2011.000000,157.100000,437.600000,375.400000,278.500000,102.600000,...,24.700000,6.600000,0.000000,32.600000,20.300000,46.700000,92.700000,6.600000,0.000000,0.000000
38,2010,1830.600000,970.900000,2215.700000,2272.400000,149.000000,456.300000,313.400000,303.500000,85.800000,...,24.000000,3.300000,0.000000,33.400000,27.200000,73.300000,164.100000,4.300000,0.000000,0.000000
39,2011,2221.300000,1349.000000,3188.200000,2755.100000,180.900000,544.100000,309.100000,367.400000,99.700000,...,66.700000,3.300000,0.000000,38.600000,33.200000,97.000000,171.900000,12.100000,0.000000,0.000000
40,2012,2339.800000,1799.800000,3985.800000,2896.800000,262.600000,611.100000,321.900000,389.600000,90.000000,...,86.700000,3.100000,0.000000,38.900000,32.100000,146.000000,185.700000,5.800000,0.000000,0.000000
41,2013,2280.000000,2080.700000,4348.000000,2861.800000,292.300000,639.200000,329.100000,434.200000,78.000000,...,108.900000,3.400000,0.000000,33.200000,30.100000,145.700000,168.200000,4.600000,0.000000,0.000000
42,2014,2628.000000,2252.800000,5175.600000,3523.900000,344.200000,724.100000,327.100000,617.400000,85.500000,...,141.600000,5.200000,0.000000,30.500000,29.300000,170.500000,172.200000,8.400000,0.000000,0.000000
43,2015,2598.100000,2415.200000,5876.200000,4417.500000,448.100000,734.800000,365.600000,746.300000,75.800000,...,139.900000,6.000000,0.000000,26.300000,25.300000,176.200000,149.100000,9.400000,0.000000,0.000000
44,2016,2392.200000,2426.100000,5807.800000,4329.600000,410.400000,796.100000,385.800000,814.900000,98.900000,...,147.000000,8.400000,0.000000,41.600000,26.500000,199.800000,185.500000,14.900000,0.000000,0.000000
45,2017,2619.900000,2646.800000,5265.700000,4356.000000,402.000000,772.700000,409.400000,714.500000,108.400000,...,153.500000,12.400000,0.000000,43.500000,28.600000,224.700000,198.700000,15.900000,0.000000,0.000000
46,2018,3189.150000,3136.720000,4895.510000,4543.040000,314.790000,757.630000,375.340000,637.820000,133.600000,...,114.040000,19.460000,787.340000,46.220000,29.790000,240.770000,215.690000,23.320000,57.526368,3.717659
47,2019,2435.540000,3002.730000,5609.810000,5045.470000,384.500000,762.510000,577.890000,854.950000,256.240000,...,53.810000,39.770000,895.450000,56.180000,30.380000,274.170000,249.650000,45.450000,187.694081,18.952076
48,2020,2107.349591,3207.831277,7393.511716,5788.761416,442.363754,743.804304,804.786378,1020.763273,390.706299,...,119.565950,166.494595,202.736901,87.137142,35.606840,473.393045,418.490037,80.662484,276.642075,72.905138
49,2021,2911.950996,4361.638578,7806.033729,6219.576602,508.383223,916.562657,975.753652,1119.430819,495.305937,...,160.367671,278.723152,170.136464,129.756566,47.630492,698.921760,688.627920,79.315426,353.934824,94.214370
50,2022,3119.813782,4323.105202,7190.516860,5439.696536,492.439559,873.881031,1007.137682,1077.534836,483.860485,...,141.033906,202.771632,134.786092,131.944428,41.649880,675.688037,657.311798,77.365458,308.467322,94.575865

In [32]:
dff.index = dff.year

In [33]:
dff.drop(columns = 'year', inplace=True)
dff

,USA,UK,Saudi_Arabia,UAE,Bahrain,Kuwait,Qatar,Oman,Germany,France,...,Ireland,Belgium,Malaysia,Norway,Switzerland,Australia,Canada,Japan,South_Africa,South_Korea
year,,,,,,,,,,,,,,,,,,,,,
1972,4.500000,36.800000,3.900000,0.000000,1.400000,3.100000,1.200000,6.200000,0.600000,0.000000,...,0.000000,0.000000,0.000000,0.300000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000
1973,13.000000,61.500000,9.200000,0.000000,2.600000,7.700000,2.100000,12.400000,2.000000,0.000000,...,0.000000,0.000000,0.000000,1.200000,0.000000,0.000000,2.700000,0.000000,0.000000,0.000000
1974,15.500000,60.900000,12.900000,8.000000,3.900000,7.800000,3.900000,16.000000,2.900000,0.000000,...,0.000000,0.000000,0.000000,2.100000,0.000000,0.000000,3.800000,0.000000,0.000000,0.000000
1975,23.100000,71.300000,23.900000,40.800000,9.000000,12.900000,8.500000,27.300000,4.700000,0.000000,...,0.000000,0.000000,0.000000,3.900000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000
1976,27.900000,49.200000,79.500000,77.400000,17.900000,21.400000,14.600000,54.100000,6.700000,0.000000,...,0.000000,0.000000,0.000000,5.700000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000
1977,31.600000,57.400000,309.300000,176.700000,36.500000,39.700000,40.100000,62.800000,11.700000,0.000000,...,0.000000,0.000000,0.000000,7.600000,0.000000,0.000000,8.100000,0.000000,0.000000,0.000000
1978,60.400000,101.000000,526.800000,212.300000,40.800000,67.900000,54.900000,63.500000,26.500000,0.000000,...,0.000000,0.000000,0.000000,11.100000,0.000000,0.000000,6.700000,0.000000,0.000000,0.000000
1979,58.000000,127.500000,677.000000,188.100000,32.700000,81.000000,50.600000,63.400000,48.600000,0.000000,...,0.000000,0.000000,0.000000,11.200000,0.000000,0.000000,7.200000,0.000000,0.000000,0.000000
1980,64.500000,192.100000,903.000000,278.600000,42.200000,136.100000,70.500000,87.700000,67.700000,0.000000,...,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000
1981,69.900000,129.800000,1053.100000,213.300000,40.300000,134.900000,58.800000,98.000000,48.700000,0.000000,...,0.000000,0.000000,0.000000,14.800000,0.000000,0.000000,7.600000,0.000000,0.000000,0.000000
1982,99.300000,151.300000,1288.000000,280.500000,43.600000,181.400000,78.300000,129.300000,50.200000,0.000000,...,0.000000,0.000000,0.000000,14.900000,0.000000,0.000000,7.300000,0.000000,0.000000,0.000000
1983,127.700000,151.900000,1503.900000,347.800000,49.600000,228.100000,87.000000,166.200000,44.300000,0.000000,...,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000,7.300000,0.000000,0.000000,0.000000
1984,104.700000,131.900000,1329.300000,302.500000,52.900000,229.200000,57.700000,163.300000,35.200000,0.000000,...,0.000000,0.000000,0.000000,14.300000,0.000000,0.000000,7.600000,0.000000,0.000000,0.000000
1985,142.800000,187.300000,1200.900000,311.000000,59.000000,207.900000,63.500000,180.500000,36.000000,0.000000,...,0.000000,0.000000,0.000000,16.500000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000
1986,199.500000,193.300000,1053.300000,299.200000,55.100000,219.000000,60.700000,162.100000,34.100000,0.000000,...,0.000000,0.000000,0.000000,22.100000,0.000000,0.000000,7.800000,0.000000,0.000000,0.000000
1987,188.200000,229.500000,890.600000,243.400000,46.100000,207.600000,42.100000,115.500000,36.600000,0.000000,...,0.000000,0.000000,0.000000,29.300000,0.000000,0.000000,9.400000,0.000000,0.000000,0.000000
1988,157.100000,193.700000,710.300000,182.400000,37.300000,162.400000,30.200000,87.700000,32.300000,0.000000,...,0.000000,0.000000,0.000000,25.200000,0.000000,0.000000,10.200000,0.000000,0.000000,0.000000
1989,211.400000,168.700000,703.100000,156.500000,38.400000,141.000000,28.200000,80.800000,30.000000,0.000000,...,0.000000,0.000000,0.000000,20.800000,0.000000,0.000000,13.300000,0.000000,0.000000,0.000000
1990,208.600000,189.500000,683.700000,167.600000,40.600000,80.700000,26.200000,79.200000,32.100000,0.000000,...,0.000000,0.000000,0.000000,21.000000,0.000000,0.000000,12.700000,0.000000,0.000000,0.000000
1991,161.200000,152.700000,555.300000,125.900000,27.400000,15.200000,16.200000,64.900000,30.900000,0.000000,...,0.000000,0.000000,0.000000,18.300000,0.000000,0.000000,10.600000,7.000000,0.000000,0.000000
1992,153.500000,131.900000,529.100000,103.100000,27.300000,64.700000,11.100000,59.000000,39.900000,0.000000,...,0.000000,0.000000,0.000000,16.500000,0.000000,0.000000,8.900000,13.600000,0.000000,0.000000
1993,140.600000,104.500000,490.400000,91.000000,23.300000,44.700000,9.100000,45.300000,34.500000,0.000000,...,0.000000,0.000000,0.000000,13.300000,0.000000,0.000000,6.500000,7.400000,0.000000,0.000000
1994,133.400000,105.900000,557.700000,148.600000,32.700000,60.300000,10.300000,54.000000,25.700000,0.000000,...,0.000000,0.000000,0.000000,10.900000,0.000000,0.000000,5.100000,7.400000,0.000000,0.000000
1995,143.100000,115.800000,542.300000,174.800000,35.400000,51.900000,12.300000,65.000000,29.000000,0.000000,...,0.000000,0.000000,0.000000,13.500000,0.000000,0.000000,5.000000,5.300000,0.000000,0.000000
1996,122.200000,95.600000,431.600000,153.000000,29.100000,35.500000,11.800000,51.300000,21.500000,3.600000,...,0.000000,0.600000,0.000000,10.500000,3.500000,2.900000,4.800000,3.400000,0.000000,0.000000
1997,184.500000,104.000000,477.100000,222.800000,32.700000,50.500000,12.000000,56.200000,17.600000,7.900000,...,0.000000,0.800000,0.000000,7.900000,5.800000,5.500000,4.100000,3.400000,0.000000,0.000000
1998,119.100000,83.900000,384.700000,143.400000,34.400000,55.100000,12.300000,52.700000,14.300000,7.100000,...,0.200000,0.700000,0.000000,5.900000,4.800000,3.600000,3.900000,3.500000,0.000000,0.000000
1999,72.700000,73.400000,311.800000,139.700000,31.400000,139.200000,13.600000,48.100000,11.600000,4.100000,...,0.000000,1.000000,0.000000,5.600000,3.500000,3.700000,3.900000,1.300000,0.000000,0.000000
2000,104.700000,76.600000,309.200000,185.200000,27.000000,153.200000,13.500000,41.100000,9.200000,2.500000,...,0.200000,1.200000,0.000000,6.000000,4.400000,4.400000,3.800000,2.400000,0.000000,0.000000
2001,346.200000,101.200000,306.600000,286.200000,25.600000,76.200000,19.400000,46.000000,10.000000,2.400000,...,0.000000,0.200000,0.000000,5.600000,7.600000,3.800000,12.300000,4.600000,0.000000,0.000000
2002,1162.400000,220.800000,489.800000,719.900000,58.900000,162.300000,59.400000,80.100000,20.800000,4.700000,...,0.200000,3.000000,0.000000,7.700000,26.500000,6.900000,18.500000,8.100000,0.000000,0.000000
2003,1155.600000,303.100000,592.200000,655.200000,74.800000,196.800000,88.900000,98.300000,41.000000,2.700000,...,0.600000,4.100000,0.000000,9.800000,32.800000,10.500000,18.000000,6.300000,0.000000,0.000000
2004,1237.800000,354.000000,571.000000,623.900000,89.400000,197.800000,85.700000,116.400000,46.100000,3.900000,...,2.200000,4.900000,0.000000,16.400000,27.500000,17.300000,32.600000,6.500000,0.000000,0.000000
2005,1292.200000,394.400000,662.200000,698.900000,95.000000,223.300000,100.100000,122.400000,55.100000,6.500000,...,5.500000,5.800000,0.000000,15.500000,16.100000,21.300000,68.100000,6.700000,0.000000,0.000000
2006,1315.800000,455.900000,898.600000,811.700000,114.000000,273.000000,144.600000,146.900000,70.800000,9.000000,...,6.400000,6.500000,0.000000,18.100000,24.300000,28.300000,84.700000,5.600000,0.000000,0.000000
2007,1674.700000,438.700000,1103.500000,969.700000,142.400000,329.700000,200.700000,183.500000,78.800000,8.900000,...,6.100000,7.800000,0.000000,25.700000,19.800000,33.300000,95.600000,3.700000,0.000000,0.000000
2008,1791.500000,471.700000,1403.400000,1289.400000,147.900000,427.100000,283.600000,264.400000,79.200000,12.900000,...,24.500000,5.200000,0.000000,28.000000,20.800000,38.100000,90.200000,5.400000,0.000000,0.000000
2009,1770.700000,848.600000,1690.800000,2011.000000,157.100000,437.600000,375.400000,278.500000,102.600000,27.100000,...,24.700000,6.600000,0.000000,32.600000,20.300000,46.700000,92.700000,6.600000,0.000000,0.000000
2010,1830.600000,970.900000,2215.700000,2272.400000,149.000000,456.300000,313.400000,303.500000,85.800000,32.400000,...,24.000000,3.300000,0.000000,33.400000,27.200000,73.300000,164.100000,4.300000,0.000000,0.000000
2011,2221.300000,1349.000000,3188.200000,2755.100000,180.900000,544.100000,309.100000,367.400000,99.700000,45.200000,...,66.700000,3.300000,0.000000,38.600000,33.200000,97.000000,171.900000,12.100000,0.000000,0.000000
2012,2339.800000,1799.800000,3985.800000,2896.800000,262.600000,611.100000,321.900000,389.600000,90.000000,39.800000,...,86.700000,3.100000,0.000000,38.900000,32.100000,146.000000,185.700000,5.800000,0.000000,0.000000
2013,2280.000000,2080.700000,4348.000000,2861.800000,292.300000,639.200000,329.100000,434.200000,78.000000,35.500000,...,108.900000,3.400000,0.000000,33.200000,30.100000,145.700000,168.200000,4.600000,0.000000,0.000000
2014,2628.000000,2252.800000,5175.600000,3523.900000,344.200000,724.100000,327.100000,617.400000,85.500000,31.100000,...,141.600000,5.200000,0.000000,30.500000,29.300000,170.500000,172.200000,8.400000,0.000000,0.000000
2015,2598.100000,2415.200000,5876.200000,4417.500000,448.100000,734.800000,365.600000,746.300000,75.800000,24.200000,...,139.900000,6.000000,0.000000,26.300000,25.300000,176.200000,149.100000,9.400000,0.000000,0.000000
2016,2392.200000,2426.100000,5807.800000,4329.600000,410.400000,796.100000,385.800000,814.900000,98.900000,46.300000,...,147.000000,8.400000,0.000000,41.600000,26.500000,199.800000,185.500000,14.900000,0.000000,0.000000
2017,2619.900000,2646.800000,5265.700000,4356.000000,402.000000,772.700000,409.400000,714.500000,108.400000,49.300000,...,153.500000,12.400000,0.000000,43.500000,28.600000,224.700000,198.700000,15.900000,0.000000,0.000000
2018,3189.150000,3136.720000,4895.510000,4543.040000,314.790000,757.630000,375.340000,637.820000,133.600000,56.990000,...,114.040000,19.460000,787.340000,46.220000,29.790000,240.770000,215.690000,23.320000,57.526368,3.717659
2019,2435.540000,3002.730000,5609.810000,5045.470000,384.500000,762.510000,577.890000,854.950000,256.240000,157.200000,...,53.810000,39.770000,895.450000,56.180000,30.380000,274.170000,249.650000,45.450000,187.694081,18.952076
2020,2107.349591,3207.831277,7393.511716,5788.761416,442.363754,743.804304,804.786378,1020.763273,390.706299,314.006540,...,119.565950,166.494595,202.736901,87.137142,35.606840,473.393045,418.490037,80.662484,276.642075,72.905138
2021,2911.950996,4361.638578,7806.033729,6219.576602,508.383223,916.562657,975.753652,1119.430819,495.305937,481.690507,...,160.367671,278.723152,170.136464,129.756566,47.630492,698.921760,688.627920,79.315426,353.934824,94.214370
2022,3119.813782,4323.105202,7190.516860,5439.696536,492.439559,873.881031,1007.137682,1077.534836,483.860485,444.854584,...,141.033906,202.771632,134.786092,131.944428,41.649880,675.688037,657.311798,77.365458,308.467322,94.575865

### Taking cumulative sum of each country

In [34]:
for i in dff.columns:
    dff[i] = dff[i].cumsum()
dff

,USA,UK,Saudi_Arabia,UAE,Bahrain,Kuwait,Qatar,Oman,Germany,France,...,Ireland,Belgium,Malaysia,Norway,Switzerland,Australia,Canada,Japan,South_Africa,South_Korea
year,,,,,,,,,,,,,,,,,,,,,
1972,4.500000,36.800000,3.900000,0.000000,1.400000,3.100000,1.200000,6.200000,0.600000,0.000000,...,0.000000,0.000000,0.000000,0.300000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000
1973,17.500000,98.300000,13.100000,0.000000,4.000000,10.800000,3.300000,18.600000,2.600000,0.000000,...,0.000000,0.000000,0.000000,1.500000,0.000000,0.000000,3.500000,0.000000,0.000000,0.000000
1974,33.000000,159.200000,26.000000,8.000000,7.900000,18.600000,7.200000,34.600000,5.500000,0.000000,...,0.000000,0.000000,0.000000,3.600000,0.000000,0.000000,7.300000,0.000000,0.000000,0.000000
1975,56.100000,230.500000,49.900000,48.800000,16.900000,31.500000,15.700000,61.900000,10.200000,0.000000,...,0.000000,0.000000,0.000000,7.500000,0.000000,0.000000,12.300000,0.000000,0.000000,0.000000
1976,84.000000,279.700000,129.400000,126.200000,34.800000,52.900000,30.300000,116.000000,16.900000,0.000000,...,0.000000,0.000000,0.000000,13.200000,0.000000,0.000000,18.300000,0.000000,0.000000,0.000000
1977,115.600000,337.100000,438.700000,302.900000,71.300000,92.600000,70.400000,178.800000,28.600000,0.000000,...,0.000000,0.000000,0.000000,20.800000,0.000000,0.000000,26.400000,0.000000,0.000000,0.000000
1978,176.000000,438.100000,965.500000,515.200000,112.100000,160.500000,125.300000,242.300000,55.100000,0.000000,...,0.000000,0.000000,0.000000,31.900000,0.000000,0.000000,33.100000,0.000000,0.000000,0.000000
1979,234.000000,565.600000,1642.500000,703.300000,144.800000,241.500000,175.900000,305.700000,103.700000,0.000000,...,0.000000,0.000000,0.000000,43.100000,0.000000,0.000000,40.300000,0.000000,0.000000,0.000000
1980,298.500000,757.700000,2545.500000,981.900000,187.000000,377.600000,246.400000,393.400000,171.400000,0.000000,...,0.000000,0.000000,0.000000,60.100000,0.000000,0.000000,48.300000,0.000000,0.000000,0.000000
1981,368.400000,887.500000,3598.600000,1195.200000,227.300000,512.500000,305.200000,491.400000,220.100000,0.000000,...,0.000000,0.000000,0.000000,74.900000,0.000000,0.000000,55.900000,0.000000,0.000000,0.000000
1982,467.700000,1038.800000,4886.600000,1475.700000,270.900000,693.900000,383.500000,620.700000,270.300000,0.000000,...,0.000000,0.000000,0.000000,89.800000,0.000000,0.000000,63.200000,0.000000,0.000000,0.000000
1983,595.400000,1190.700000,6390.500000,1823.500000,320.500000,922.000000,470.500000,786.900000,314.600000,0.000000,...,0.000000,0.000000,0.000000,103.800000,0.000000,0.000000,70.500000,0.000000,0.000000,0.000000
1984,700.100000,1322.600000,7719.800000,2126.000000,373.400000,1151.200000,528.200000,950.200000,349.800000,0.000000,...,0.000000,0.000000,0.000000,118.100000,0.000000,0.000000,78.100000,0.000000,0.000000,0.000000
1985,842.900000,1509.900000,8920.700000,2437.000000,432.400000,1359.100000,591.700000,1130.700000,385.800000,0.000000,...,0.000000,0.000000,0.000000,134.600000,0.000000,0.000000,85.100000,0.000000,0.000000,0.000000
1986,1042.400000,1703.200000,9974.000000,2736.200000,487.500000,1578.100000,652.400000,1292.800000,419.900000,0.000000,...,0.000000,0.000000,0.000000,156.700000,0.000000,0.000000,92.900000,0.000000,0.000000,0.000000
1987,1230.600000,1932.700000,10864.600000,2979.600000,533.600000,1785.700000,694.500000,1408.300000,456.500000,0.000000,...,0.000000,0.000000,0.000000,186.000000,0.000000,0.000000,102.300000,0.000000,0.000000,0.000000
1988,1387.700000,2126.400000,11574.900000,3162.000000,570.900000,1948.100000,724.700000,1496.000000,488.800000,0.000000,...,0.000000,0.000000,0.000000,211.200000,0.000000,0.000000,112.500000,0.000000,0.000000,0.000000
1989,1599.100000,2295.100000,12278.000000,3318.500000,609.300000,2089.100000,752.900000,1576.800000,518.800000,0.000000,...,0.000000,0.000000,0.000000,232.000000,0.000000,0.000000,125.800000,0.000000,0.000000,0.000000
1990,1807.700000,2484.600000,12961.700000,3486.100000,649.900000,2169.800000,779.100000,1656.000000,550.900000,0.000000,...,0.000000,0.000000,0.000000,253.000000,0.000000,0.000000,138.500000,0.000000,0.000000,0.000000
1991,1968.900000,2637.300000,13517.000000,3612.000000,677.300000,2185.000000,795.300000,1720.900000,581.800000,0.000000,...,0.000000,0.000000,0.000000,271.300000,0.000000,0.000000,149.100000,7.000000,0.000000,0.000000
1992,2122.400000,2769.200000,14046.100000,3715.100000,704.600000,2249.700000,806.400000,1779.900000,621.700000,0.000000,...,0.000000,0.000000,0.000000,287.800000,0.000000,0.000000,158.000000,20.600000,0.000000,0.000000
1993,2263.000000,2873.700000,14536.500000,3806.100000,727.900000,2294.400000,815.500000,1825.200000,656.200000,0.000000,...,0.000000,0.000000,0.000000,301.100000,0.000000,0.000000,164.500000,28.000000,0.000000,0.000000
1994,2396.400000,2979.600000,15094.200000,3954.700000,760.600000,2354.700000,825.800000,1879.200000,681.900000,0.000000,...,0.000000,0.000000,0.000000,312.000000,0.000000,0.000000,169.600000,35.400000,0.000000,0.000000
1995,2539.500000,3095.400000,15636.500000,4129.500000,796.000000,2406.600000,838.100000,1944.200000,710.900000,0.000000,...,0.000000,0.000000,0.000000,325.500000,0.000000,0.000000,174.600000,40.700000,0.000000,0.000000
1996,2661.700000,3191.000000,16068.100000,4282.500000,825.100000,2442.100000,849.900000,1995.500000,732.400000,3.600000,...,0.000000,0.600000,0.000000,336.000000,3.500000,2.900000,179.400000,44.100000,0.000000,0.000000
1997,2846.200000,3295.000000,16545.200000,4505.300000,857.800000,2492.600000,861.900000,2051.700000,750.000000,11.500000,...,0.000000,1.400000,0.000000,343.900000,9.300000,8.400000,183.500000,47.500000,0.000000,0.000000
1998,2965.300000,3378.900000,16929.900000,4648.700000,892.200000,2547.700000,874.200000,2104.400000,764.300000,18.600000,...,0.200000,2.100000,0.000000,349.800000,14.100000,12.000000,187.400000,51.000000,0.000000,0.000000
1999,3038.000000,3452.300000,17241.700000,4788.400000,923.600000,2686.900000,887.800000,2152.500000,775.900000,22.700000,...,0.200000,3.100000,0.000000,355.400000,17.600000,15.700000,191.300000,52.300000,0.000000,0.000000
2000,3142.700000,3528.900000,17550.900000,4973.600000,950.600000,2840.100000,901.300000,2193.600000,785.100000,25.200000,...,0.400000,4.300000,0.000000,361.400000,22.000000,20.100000,195.100000,54.700000,0.000000,0.000000
2001,3488.900000,3630.100000,17857.500000,5259.800000,976.200000,2916.300000,920.700000,2239.600000,795.100000,27.600000,...,0.400000,4.500000,0.000000,367.000000,29.600000,23.900000,207.400000,59.300000,0.000000,0.000000
2002,4651.300000,3850.900000,18347.300000,5979.700000,1035.100000,3078.600000,980.100000,2319.700000,815.900000,32.300000,...,0.600000,7.500000,0.000000,374.700000,56.100000,30.800000,225.900000,67.400000,0.000000,0.000000
2003,5806.900000,4154.000000,18939.500000,6634.900000,1109.900000,3275.400000,1069.000000,2418.000000,856.900000,35.000000,...,1.200000,11.600000,0.000000,384.500000,88.900000,41.300000,243.900000,73.700000,0.000000,0.000000
2004,7044.700000,4508.000000,19510.500000,7258.800000,1199.300000,3473.200000,1154.700000,2534.400000,903.000000,38.900000,...,3.400000,16.500000,0.000000,400.900000,116.400000,58.600000,276.500000,80.200000,0.000000,0.000000
2005,8336.900000,4902.400000,20172.700000,7957.700000,1294.300000,3696.500000,1254.800000,2656.800000,958.100000,45.400000,...,8.900000,22.300000,0.000000,416.400000,132.500000,79.900000,344.600000,86.900000,0.000000,0.000000
2006,9652.700000,5358.300000,21071.300000,8769.400000,1408.300000,3969.500000,1399.400000,2803.700000,1028.900000,54.400000,...,15.300000,28.800000,0.000000,434.500000,156.800000,108.200000,429.300000,92.500000,0.000000,0.000000
2007,11327.400000,5797.000000,22174.800000,9739.100000,1550.700000,4299.200000,1600.100000,2987.200000,1107.700000,63.300000,...,21.400000,36.600000,0.000000,460.200000,176.600000,141.500000,524.900000,96.200000,0.000000,0.000000
2008,13118.900000,6268.700000,23578.200000,11028.500000,1698.600000,4726.300000,1883.700000,3251.600000,1186.900000,76.200000,...,45.900000,41.800000,0.000000,488.200000,197.400000,179.600000,615.100000,101.600000,0.000000,0.000000
2009,14889.600000,7117.300000,25269.000000,13039.500000,1855.700000,5163.900000,2259.100000,3530.100000,1289.500000,103.300000,...,70.600000,48.400000,0.000000,520.800000,217.700000,226.300000,707.800000,108.200000,0.000000,0.000000
2010,16720.200000,8088.200000,27484.700000,15311.900000,2004.700000,5620.200000,2572.500000,3833.600000,1375.300000,135.700000,...,94.600000,51.700000,0.000000,554.200000,244.900000,299.600000,871.900000,112.500000,0.000000,0.000000
2011,18941.500000,9437.200000,30672.900000,18067.000000,2185.600000,6164.300000,2881.600000,4201.000000,1475.000000,180.900000,...,161.300000,55.000000,0.000000,592.800000,278.100000,396.600000,1043.800000,124.600000,0.000000,0.000000
2012,21281.300000,11237.000000,34658.700000,20963.800000,2448.200000,6775.400000,3203.500000,4590.600000,1565.000000,220.700000,...,248.000000,58.100000,0.000000,631.700000,310.200000,542.600000,1229.500000,130.400000,0.000000,0.000000
2013,23561.300000,13317.700000,39006.700000,23825.600000,2740.500000,7414.600000,3532.600000,5024.800000,1643.000000,256.200000,...,356.900000,61.500000,0.000000,664.900000,340.300000,688.300000,1397.700000,135.000000,0.000000,0.000000
2014,26189.300000,15570.500000,44182.300000,27349.500000,3084.700000,8138.700000,3859.700000,5642.200000,1728.500000,287.300000,...,498.500000,66.700000,0.000000,695.400000,369.600000,858.800000,1569.900000,143.400000,0.000000,0.000000
2015,28787.400000,17985.700000,50058.500000,31767.000000,3532.800000,8873.500000,4225.300000,6388.500000,1804.300000,311.500000,...,638.400000,72.700000,0.000000,721.700000,394.900000,1035.000000,1719.000000,152.800000,0.000000,0.000000
2016,31179.600000,20411.800000,55866.300000,36096.600000,3943.200000,9669.600000,4611.100000,7203.400000,1903.200000,357.800000,...,785.400000,81.100000,0.000000,763.300000,421.400000,1234.800000,1904.500000,167.700000,0.000000,0.000000
2017,33799.500000,23058.600000,61132.000000,40452.600000,4345.200000,10442.300000,5020.500000,7917.900000,2011.600000,407.100000,...,938.900000,93.500000,0.000000,806.800000,450.000000,1459.500000,2103.200000,183.600000,0.000000,0.000000
2018,36988.650000,26195.320000,66027.510000,44995.640000,4659.990000,11199.930000,5395.840000,8555.720000,2145.200000,464.090000,...,1052.940000,112.960000,787.340000,853.020000,479.790000,1700.270000,2318.890000,206.920000,57.526368,3.717659
2019,39424.190000,29198.050000,71637.320000,50041.110000,5044.490000,11962.440000,5973.730000,9410.670000,2401.440000,621.290000,...,1106.750000,152.730000,1682.790000,909.200000,510.170000,1974.440000,2568.540000,252.370000,245.220449,22.669735
2020,41531.539591,32405.881277,79030.831716,55829.871416,5486.853754,12706.244304,6778.516378,10431.433273,2792.146299,935.296540,...,1226.315950,319.224595,1885.526901,996.337142,545.776840,2447.833045,2987.030037,333.032484,521.862524,95.574873
2021,44443.490587,36767.519855,86836.865445,62049.448018,5995.236976,13622.806961,7754.270030,11550.864092,3287.452236,1416.987047,...,1386.683621,597.947747,2055.663365,1126.093708,593.407332,3146.754805,3675.657957,412.347911,875.797347,189.789242
2022,47563.304370,41090.625057,94027.382305,67489.144554,6487.676536,14496.687992,8761.407712,12628.398928,3771.312721,1861.841630,...,1527.717527,800.719379,2190.449456,1258.038136,635.057212,3822.442842,4332.969755,489.713369,1184.264669,284.365107

In [35]:
dff.columns = dff.columns.str.replace('_'," ")

In [36]:
dff.head()

,USA,UK,Saudi Arabia,UAE,Bahrain,Kuwait,Qatar,Oman,Germany,France,...,Ireland,Belgium,Malaysia,Norway,Switzerland,Australia,Canada,Japan,South Africa,South Korea
year,,,,,,,,,,,,,,,,,,,,,
1972,4.5,36.8,3.9,0.0,1.4,3.1,1.2,6.2,0.6,0.0,...,0.0,0.0,0.0,0.3,0.0,0.0,0.8,0.0,0.0,0.0
1973,17.5,98.3,13.1,0.0,4.0,10.8,3.3,18.6,2.6,0.0,...,0.0,0.0,0.0,1.5,0.0,0.0,3.5,0.0,0.0,0.0
1974,33.0,159.2,26.0,8.0,7.9,18.6,7.2,34.6,5.5,0.0,...,0.0,0.0,0.0,3.6,0.0,0.0,7.3,0.0,0.0,0.0
1975,56.1,230.5,49.9,48.8,16.9,31.5,15.7,61.9,10.2,0.0,...,0.0,0.0,0.0,7.5,0.0,0.0,12.3,0.0,0.0,0.0
1976,84.0,279.7,129.4,126.2,34.8,52.9,30.3,116.0,16.9,0.0,...,0.0,0.0,0.0,13.2,0.0,0.0,18.3,0.0,0.0,0.0

### Renaming country names as per convention

In [37]:
dff.rename(columns = {"USA":'United States of America', 'UK':'United Kingdom', 'UAE':'United Arab Emirates'}
                   , inplace = True)

In [38]:
dff.head()

,United States of America,United Kingdom,Saudi Arabia,United Arab Emirates,Bahrain,Kuwait,Qatar,Oman,Germany,France,...,Ireland,Belgium,Malaysia,Norway,Switzerland,Australia,Canada,Japan,South Africa,South Korea
year,,,,,,,,,,,,,,,,,,,,,
1972,4.5,36.8,3.9,0.0,1.4,3.1,1.2,6.2,0.6,0.0,...,0.0,0.0,0.0,0.3,0.0,0.0,0.8,0.0,0.0,0.0
1973,17.5,98.3,13.1,0.0,4.0,10.8,3.3,18.6,2.6,0.0,...,0.0,0.0,0.0,1.5,0.0,0.0,3.5,0.0,0.0,0.0
1974,33.0,159.2,26.0,8.0,7.9,18.6,7.2,34.6,5.5,0.0,...,0.0,0.0,0.0,3.6,0.0,0.0,7.3,0.0,0.0,0.0
1975,56.1,230.5,49.9,48.8,16.9,31.5,15.7,61.9,10.2,0.0,...,0.0,0.0,0.0,7.5,0.0,0.0,12.3,0.0,0.0,0.0
1976,84.0,279.7,129.4,126.2,34.8,52.9,30.3,116.0,16.9,0.0,...,0.0,0.0,0.0,13.2,0.0,0.0,18.3,0.0,0.0,0.0

### Exporting DataFrame to Microsoft Excel file

In [39]:
dff.to_excel('dff.xlsx')